* {
  padding: 0;
  margin: 0;
  font-family: "Albert Sans", sans-serif;
}

/* FONDO IMAGEN DE TODAS LAS PAGINAS */
.fondoPatitas {
  background-image: url("../img/fondo-patitas.jpeg");
  background-size: 30rem;
}

/* PALETA DE COLORES*/
/* https://colorhunt.co/palette/ffcc8fffdaafa760ffca82ff */
/* 
  --pastel nude
  #FFCC8F   -->Fuerte
  #FFDAAF    -->Suave
  --violetas
  #A760FF   -->Fuerte
  #CA82FF   -->Suave
*/

/* 
  font-family: "Albert Sans", sans-serif; 
  weight --> 100 300 400 700 
*/

/*-------------------MENU INICIO----------------------*/

/* realizo la clase active para que quede activo la seccion del menu donde me encuentro parado */
/* si coloco a:active -> este active es cuando mantengo apretado el click.. */
.active {
  background-color: #ca82ff;
  border-radius: 25px;
  color: #ffcc8f !important;
  font-weight: 700;
}

.bgNav {
  border-bottom: 1px solid #fcd29f88;
  box-shadow: 0 0 1px 1px rgba(203, 130, 255, 0.568);
}
/*----------------------MENU FIN-----------------------*/

h1 {
  color: #a760ff;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

h2,
h3 {
  margin: 5px 0;
}

.textMayus {
  text-transform: uppercase;
}

.parrafoGeneral {
  padding: 15px;
}

/* HOME */
/* --IMAGEN ---*/
.imgLogo {
  width: 100px;
  border-radius: 50%;
}

/* img redonda */
.imgSize {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px dotted;
  object-fit: contain;
}

.imgSize:hover {
  box-shadow: 2px 2px 2px 2px rgba(204, 146, 21, 0.562);
}

.imgContexto {
  width: 300px;
}
.imgResponsive {
  max-width: 100%;
  height: auto;
}

/* enlace Imagenes*/
.containerEnlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;
}

.enlaceImagen {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
  margin: 10px;
}

/* imagen "conciencia" a lo ancho de toda la página */
.bannerHome {
  background-image: url("../img/mascotas-responsables.jpg");
  background-position: center;
  width: 100%;
  height: 300px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.bannerHome p {
  font-size: 2.2em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px #000000;
  color: #ca82ff;
  padding: 30px;
}

/*-- IMAGEN FIN---*/

/* tipsmascotas */
.tipsMascotas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffcd8f83;
  padding: 10px;
}

.contexto {
  max-width: 700px;
}

/* ----- FOOTER -----*/
.footer {
  background-color: #ffcc8f;
  height: auto;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.footerIzquierda,
.footerDerecha {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* si bien ya esta centrado con align-item , cuando el movil es menor a 358 se me rompe el align-item de footerDerecha   */
  text-align: center;
}

.footerIzquierda a {
  text-decoration: none;
  padding: 5px;
  color: black;
}

.footerIcon {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* -------------------ADOPCION -gato perro INICIO----------------------------- */

.textoNegrita {
  font-weight: 700;
}

.divImgAdoptar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.imgAdopciones {
  width: 350px;
  height: 250px;
}

.estilo {
  text-align: center;
}

.form {
  padding: 10px;
  background-color: #ab84db;
}

.inputpadding {
  padding: 5px;
}

.flexbox-formadopciones {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-formadopciones > div {
  width: 20%;
}

.flexbox-formadopciones > div:first-child {
  margin-right: 50px;
}

.contenedor {
  display: none; 
  height: 200px;
  width: 200px;
  perspective: 1000px;
  margin: 170px auto;
  transform:scale(.9)rotateX(-10deg);
  transform-style: preserve-3d; 

}

.contenedor .box {
  animation: rotar 50s infinite linear;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: 2s;
}

.elementos {
  height: 200px;
  width: 150px;
  position: absolute;
  box-shadow: 0 0 10px #fff;
}

:root {
  --transladacion: translateZ(250px);
}
.elementos:nth-child(1) {
  transform: rotateY(0deg) var(--transladacion);
}
.elementos:nth-child(2) {
  transform: rotateY(45deg) var(--transladacion);
}
.elementos:nth-child(3) {
  transform: rotateY(90deg) var(--transladacion);
}
.elementos:nth-child(4) {
  transform: rotateY(135deg) var(--transladacion);
}
.elementos:nth-child(5) {
  transform: rotateY(180deg) var(--transladacion);
}
.elementos:nth-child(6) {
  transform: rotateY(225deg) var(--transladacion);
}
.elementos:nth-child(7) {
  transform: rotateY(270deg) var(--transladacion);
}
.elementos:nth-child(8) {
  transform: rotateY(315deg) var(--transladacion);
}
.elementos:nth-child(9) {
  transform: rotateY(360deg) var(--transladacion);
}

.elementos img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0005);
  position: absolute;
  backface-visibility: hidden;
}

.elementos img:nth-child(2) {
  transform: rotateY(180deg);
}

.imagen2:nth-child(1) {
  animation: rotar2 50s;
}

.piso {
  height: 43em;
  width: 43em;
  transform: rotateX(90deg) translateX(-280px) translateY(40px)
    translateZ(140px);
  background: -webkit-radial-gradient(
    center center,
    farthest-side,
    #9993,
    transparent
  );
  border-radius: 50%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  height: 200px;
  width: 300px;
  flex-direction: column;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.7em;
}

.titulo p {
  margin: 0;
  padding: 5px;
}

@keyframes rotar {
  to {
    transform: rotateY(-360deg);
  }
}

.imagenes {
  height: 200px;
  width: 150px;
  transition: 2s;
  transform-style: preserve-3d;
}

.texto-encima {
  list-style: none;
  text-align: center;
  position: absolute;
  top: -10%;
  left: 35%;
  font-weight: bold;
}

.formularioAdopciones {
  max-width: 70%;
}

/* ------------------- ADOPCION FIN --------------------------- */

/*-------------------- CASTRACIONES INICIO------------------------*/
ol {
  text-align: left;
  margin-left: 50px;
  color: blueviolet;
}

ol li {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffcd8f83;
  padding: 15px;
}

.contenidoFormCastracion {
  background-image: url(../img/images.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 10px 0;
}

.textCast {
  color: #5f00d3;
  text-align: center;
  padding: 5px;
}

.textArea {
  width: 500px;
}

.contacto {
  background-color: #9817f544;
  color: #000000;
}

.quieroCastrar {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
  padding: 15px;
}

.botCast1 {
  font-size: 1em;
  padding: 10px;
  border-color: #ffffff;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  box-shadow: 0px 8px 16px 0px rgba(61, 0, 72, 0.2);
  background-color: #1b99ed;
  color: #ffffff;
}
.iframee {
  display: grid;
  justify-content: right;
  box-shadow: #000000;
}
.iframe {
  border-radius: 10px;
}

.botCast1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.5);
  color: #ffffff;
}

/*-------------------- CASTRACIONES FIN------------------------*/
/*-------------------- DONACION INICIO --------------------------------*/
.botonCast {
  background-color: #ffdaaf;
  color: #a760ff;
  border: blueviolet;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px;
}

.botonCast:hover {
  background-color: rgba(118, 136, 135, 0.62);
  color: #000000;
}

.textCenter {
  text-align: center;
}
.tituloSecundario {
  color: #ca82ff;
  text-align: center;
}

.container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.imgSizeDonacion {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px dotted;
}

.container2 {
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  padding: 30px;
  color: #9510f4;
}

.parrafoSec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: black;
  font-size: 20px;
}

.containerValores {
  margin: 20px 0px;
  padding: 40px;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;

  text-align: center;
}

.form1 p {
  font-size: 25px;
}

.form1 input {
  background-color: #eac3cc;
  border-radius: 10px;
  padding: 3px;
  margin: 6px;
}

/*-------------------- DONACION FIN ------------------------------*/

/*-------------- TRANSITO INICIO ----------------------------------------*/

.parrafo {
  font-weight: 500;
  font-size: 1.875em;
  font-style: italic;
  padding: 10px;
  color: #ca82ff;
}

.textSecundario {
  text-align: center;
  padding: 20px;
  color: #b971ed;
}

.muestras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 25px;
}

.fotos {
  box-shadow: 0px 10px 10px -6px blueviolet;
  border: 5px solid rgba(220, 114, 221, 0.952);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.fotos .imagen {
  border-radius: 15px;
  height: 250px;
  background-size: cover;
  background-position-x: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.img1 {
  background-image: url("https://cdn.pixabay.com/photo/2015/02/21/10/39/dog-644111_960_720.jpg");
}

.img2 {
  background-image: url("https://cdn.pixabay.com/photo/2021/11/26/02/39/dog-6824999_960_720.jpg");
}

.img3 {
  background-image: url("https://cdn.pixabay.com/photo/2020/12/21/08/36/dog-5849152_960_720.jpg");
}

.img4 {
  background-image: url("https://cdn.pixabay.com/photo/2019/02/06/15/18/puppy-3979350_960_720.jpg");
}

.img5 {
  background-image: url("https://cdn.pixabay.com/photo/2019/04/08/20/38/animal-4112950_960_720.jpg");
}

.img6 {
  background-image: url("https://cdn.pixabay.com/photo/2013/09/03/23/30/animals-178808_960_720.jpg");
}

.img7 {
  background-image: url("https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg");
}

.img8 {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/23/08/33/cats-eyes-2671903_960_720.jpg");
}

.img9 {
  background-image: url("https://cdn.pixabay.com/photo/2014/06/03/01/31/cat-360807_960_720.jpg");
}

.fotos {
  width: 25%;
}

.nombre {
  color: blue;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin: 10px 10px;
}

.descripcion {
  color: black;
  font-size: smaller;
  text-align: center;
  margin: 10px 10px;
}

.titulo {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #9a35e2;
  font-size: x-large;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
}

.transitar .parrafo {
  background-color: #f6e7f2;
  font-size: x-large;
  animation-duration: 3s;
  animation-name: slidein;
  text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.formulario {
  text-align: center;
  color: darkviolet;
  font-size: medium;
}

.publicidad {
  display: flex;
  flex-wrap: nowrap;
  margin: 25px 0;
  padding: 15px;
  gap: 4px;
  width: 100%;
}

.imagePublicidad {
  width: 40%;
}

.textPublicidad {
  background-color: #f6e7f2;
  padding: 8px;
  color: #b971ed;
  text-align: left;
  width: 100%;
}

.tituloPubli {
  font-size: large;
  color: #b224b7;
  text-align: center;
}

.textPublicidad button {
  background: transparent;
  border: 2px solid white;
  padding: 5px;
  color: #c447b1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*--------------- TRANSITO FIN ------------------------*/

/* FORMULARIO */
.ocultar{
  display: none;
}
.bg-opcion{
  background-color:   #cb82ff5d ;
  border-radius: 10px ;
}


/*------------------ 
  MEDIA QUERY TABLET
-------------------- */

@media screen and (max-width: 767px) {
  /* ADOPCION */
  .divImgAdoptar {
    flex-direction: column;
  }
  .imgAdopciones {
    width: 350px;
    height: 250px;
    position: relative;
  }

  .contenedor {
    height: 200px;
    width: 200px;
    perspective: 1000px;
    margin: 120px auto;
    transform: scale(0.9) rotateX(-10deg);
    transform-style: preserve-3d;
    position: relative;
  }

  /* DONACION */
  .parrafoSec {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 18px;
  }

  /*CASTRACIONES*/
  .iframe {
    max-width: 500px;
  }
  /* TRANSITO */
  .publicidad {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagePublicidad {
    width: 100%;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .footerMenu {
    display: flex;
    justify-content: center;
  }
}

/*------------------ 
  MEDIA QUERY MOVIL
-------------------- */

@media screen and (max-width: 576px) {
  /* HOME */
  .imgSize {
    width: 150px;
    height: 150px;
  }

  .containerEnlaces {
    flex-direction: column;
  }

  /* ADOPCION */
  .parrafoGeneral {
    font-size: larger;
  }

  .contenedor {
    height: 200px;
    width: 200px;
    perspective: 1000px;
    margin: 120px auto;
    transform: scale(0.9) rotateX(-10deg);
    transform-style: preserve-3d;
    position: relative;
  }

  /* CASTRACION */
  .quieroCastrar {
    flex-direction: column;
  }

  ol {
    margin-left: 0;
  }

  .textArea {
    width: 200px;
  }

  .iframe {
    width: 280px;
  }

  /* DONACION */
  .parrafoSec {
    grid-template-columns: 1fr;
    text-align: center;
    list-style-type: none;
  }

  .imgSizeDonacion {
    width: 180px;
    height: 180px;
  }

  /* TRANSITO */
  .muestras {
    flex-direction: column;
    justify-content: center;
  }

  .fotos {
    width: 100%;
  }

  /* FOOTER */
  .footer div {
    align-items: center;
  }
  .footerIzquierda .div1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}





